



*{
	font-family: Arial, sans-serif;
}

h1, h2 {
	text-align: center;
	background-color: rgb(130,130,130);
	color: white;
}

h3 {
	text-align: right;
	background-color: rgb(130,130,130);
	color: white;
}
img {
	border-radius: 15px;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 20%;
}

ul{
	float: right;
	width: 30%
	margin-left: 10%
}

.centered_image {text-align: center;}