



*{
	font-family: Arial, sans-serif;
}

h1
{
	text-align: center;
	background-color: rgb(130,130,130);
	color: white;
	width:80%
	margin:auto;
}

.new_entry{
	text-align:center;
	width: 80%;
  margin: auto;
  padding: 50px;
	height: 500px;
	border-bottom: thin solid black;
}


.heading_with_pic{
	 width: 40%;
  height: 450px;
 float:left;
	clear: right;
}

.sidebar_info{
	width:40%;
	float:right;
  height: 450px;
  background: white;}

img{
	max-width: 60%;
	max-height: 350px;
}



